
#banner{
    display: block;
    margin: auto;
    width: 50%;
  	background-color: white;
 	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  	margin-bottom: 25px;
	border-radius: 5px;
	border: solid black;
}

.itemImg {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 3px;  /* Rounded border */
    padding: 3px; /* Some padding */
    width: 100px; /* Set a small width */
	height: 100px; /*Set a smal height */
}

.itemImg:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.moveRight{
	float: right;
}

.autoAlignCategories{
	width:800px;
    margin: 70px auto;
}

.autoAlign{
	
	width:670px;
    margin: 70px auto;
	
}

.autoAlignTable{
    width:1000px;
    margin: 20px auto 70px;
}

p.welcome{
	border: groove black;
}

.search {
	width:300px;
}

.functionButton {
	width:75px;
    margin: 5px auto;
    background-color: black;
    color: white;
}

#categories{
	width:100%;
}


#background{
	background-color: #f7f7f7;
	background-image: url("/images/CampusMap2.png");
}

table {
    border-top-style: solid;
	border-left-style: solid;
    border-bottom-style: solid;
	border-right-style: solid;
    border-collapse: collapse;
	border-width: 1px;
	border-color: black;
}


.boldBorder{
	border-top-style: solid;
    border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-width: 3px;
}

.lightBorderRight{
	border-right-style: solid;
	border-width: 1px;
}

.lightBorder{

border-style: solid;
border-width: 1px;
	
}

.paddingTH{
	
	padding-right: 20px;
	padding-left: 20px;
}

.paddingTD{
	padding: 20px;
}
	

.centerText{
	
	text-align: center;
}

.paddingSearch{
	padding-left: 150px;
}

.categoryButton{
	background-color: maroon;
    color: white;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    margin: 5px auto;
    text-decoration: none;
	text-align: center;
}

.categoryButton:hover {
    opacity: 0.8;
}

.footer{
	background-color: pink;
	border-top-style: groove;
	border-color: pink;
	border-width: 5px;
	margin-right: -8px;
	margin-left: -8px;
	box-shadow: 0px 500px 0px 500px pink;
}

.container2{
	display: inline;
	margin-top: 20px;
}

#ricLogo{
	width: 10%;
	padding: 10px 6px 0px 6px;
}

.contact{
	/*padding-top: 5px;*/
	line-height: 100%;
	font-size: 16px;
}

.faq{
	padding-right:20px;
	float:right;
}
/*Template form Labels*/
.formLabels{
	width: 100px;
}

h1 {
	color: maroon;
}

/*Login style and modal style*/

form#login {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: maroon;
    color: white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

#cancelButton {
	background-color: maroon;
    color: white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

#submit {
	background-color: maroon;
    color: white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

#submit:hover {
	opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}