<!DOCTYPE html>

<html>
	
	<!--Page head. Contains scripts and CSS-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS for DataTables plugin, in addition to internal CSS-->
	<link rel = "stylesheet" type = "text/css" href ="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	<!--Importing loginScript.js-->
	<script type="text/javascript" src="/javascript/loginScript.js"></script>
	<!--Importing jQuery library-->
	<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!--Importing DataTables plugin-->
	<script type = "text/javascript" src = "http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

	<!--Select Library-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/b-1.2.4/fh-3.1.2/sc-1.4.2/se-1.2.0/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/b-1.2.4/fh-3.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
	
	<!--Buttons Library-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
	
	<!--Implementing DataTables plugin into page-->
	<script type = "text/javascript">$(document).ready(function(){
		var table = $('#table').DataTable({
			//"processing": true,
			//"serverSide": true,
			//"scrollY": 200,
			select: true,
			"ajax": "/api/getAllItems",
			"columnDefs": [ 
				{"searchable": false, "targets": [1,8]},
				{"orderable": false, "targets": [1,8]},
				{"width": "100px", "targets": 1},
				{"width": "11.5%", "targets": [6,8]}
			],
			"columns": [
				{ data: "itemID" },
				{ data: "image",
					"fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
						if ( oData.image != null ) {
							$(nTd).html(
								"<a target = '_blank' href ='/images/items/" + oData.image + " ' ><img class = 'itemImg' src ='/images/items/" + oData.image + " ' </a>"
							);
						} else {
							$(nTd).html("")
						} 
					} 
				},
				{ data: "publicDescription" },
				{ data: "privateDescription" },
				{ data: "category" },
				{ data: "locationFound" },
				{ data: "dateFound" },
				{ data: "status" },
				{ data: "itemID",
					"fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
						if ( !oData.retrieved ) {
							$(nTd).html(
								"<a href='/item/viewItem/" + oData.itemID + "'><img src='/images/ic_pageview_black_18px.svg' title='View Item'></a>" +
								" " +
								"<a href='/item/retrieveItem/" + oData.itemID + "'><img src='/images/ic_keyboard_return_black_18px.svg' title='Retrieve Item'></a>" +
								" " +
								"<a href='/item/editItem/" + oData.itemID + "'><img src='/images/ic_edit_black_18px.svg' title='Edit'></a>" +
								" " +
								"<a href='/item/deleteItem/" + oData.itemID + "'><img src='/images/ic_delete_black_18px.svg' title='Delete'></a>"
							);
						} else {
							$(nTd).html(
								"<a href='/item/viewItem/" + oData.itemID + "'><img src='/images/ic_pageview_black_18px.svg' title='View Item'></a>" +
								" " +
								"<a href='/item/editItem/" + oData.itemID + "'><img src='/images/ic_edit_black_18px.svg' title='Edit'></a>" +
								" " +
								"<a href='/item/deleteItem/" + oData.itemID + "'><img src='/images/ic_delete_black_18px.svg' title='Delete'></a>"
							);
						}
					}
				}
			]
		});
		
		//Categories filter function	
		$('a.categoryButton').on( 'click', function () {
			table
			.columns( 4 )
			.search(  $(this).text() )
			.draw();
		});
		
		$('a.all.categoryButton').on('click', function() {
		  table
		  .search('')
		  .columns(4)
		  .search('')
		  .draw();
		});
  
	});
	
	</script>

		<title>
			Lost and Found: Administrator
		</title>
		
	</head>
	<!--Page body, contains images, menus, and table-->
	<body id = "background">
		<!--Page top-->
		<img id = "banner" src = "/images/banner2.png">
		
		<p class = "welcome"> Welcome, Administrator 
		<span class = "moveRight"> 
		<a href="/session/logout" >Log Out</a>
		</span> </p>
		
		<div class = "autoAlignCategories">
			<!--Search Bar-->
			<!--<form class = "paddingSearch">
				<input class = "search" type = "text" placeholder = "e.g. Biology Book" required>
				<input type = "button" value = "Search">
			</form><br>-->
			<!--Categories-->
			
			<a class="all categoryButton" href="#table">All</a>
			<a class = "categoryButton" href="#table">Cellphone</a>
			<a class = "categoryButton" href="#table">Books</a>
			<a class = "categoryButton" href="#table">Headphones</a>
			<a class = "categoryButton" href="#table">Miscellaneous</a>
			<a class = "categoryButton" href="#table">Wallet</a>
			<a class = "categoryButton" href="#table">Keys</a>
			<a class = "categoryButton" href="#table">Glasses</a>
			
		</div>
		
		<div class = "autoAlignTable">
			<button class="functionButton" id="addBtn" type="addBtn" onclick="window.location.href='/item/addItem';">Add</button>
			<!--
			<button class="functionButton" id="editBtn" type="editBtn" onclick="alert("This edit btn was clicked on!");">Edit</button> 
			<button class="functionButton" id="deleteBtn" type="deleteBtn" onclick="alert("This delete btn was clicked on!");">Delete</button><br>
			-->

			<!--Dynamic table-->
			<table id = "table">
				<thead class = "boldBorder">
				<tr>
					<th class = "lightBorderRight paddingTH itemId">No.</th>
					<th class = "lightBorderRight paddingTH">Image</th> 
					<th class = "lightBorderRight paddingTH">Public Description</th>
					<th class = "lightBorderRight paddingTH">Private Description</th>
					<th class = "lightBorderRight paddingTH">Category</th>
					<th class = "lightBorderRight paddingTH">Location Found</th>
					<th class = "lightBorderRight paddingTH">Date Found</th>
					<th class = "lightBorderRight paddingTH">Status</th>
					<th class = "paddingTH">Actions</th>
				</tr>
				</thead>
			</table>
			
		</div>

		<!--Page footer-->
		<footer class = "footer">
			<div class = "container">
				<span class="contact"><br>
				<img  id = "ricLogo" src = "/images/riclogo.png" alt="RIC Logo" align="left">
				600 Mount Pleasant Avenue<br>
				Providence, RI 02908<br>
				<a href="tel:401-456-8148">(401) 456-8148</a><br>
				<a href="mailto:lostandfound@ric.edu">lostandfound@ric.edu</a>
				</span>
		
				<span class = "faq"> <a href = "/faq"> FAQ </a> </span>
			</div>
		</footer>
	</body>
</html>