<!DOCTYPE html>

<html>
	
	<!--Page head: Contains CSS and Title-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS-->
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	
	<title>Retrieve an Item</title>	
	</head>

	<!--Page body: Contains the form for an admin to delete an item-->
	<body>
		<!--Page top-->
		<img id = "banner" src = "/images/banner.png"  >
		
		<p class = "welcome"> Welcome, Administrator <span class = "moveRight"> <a href = "/"> Home</a></span> </p>
		
		<div class = "autoAlign">
			<h1>Delete An Item</h1>
			<br>

			<!-- Item info -->
			<p>Item ID: <span th:text="${itemID}"></span><br>
			<!--image here-->
			Item Description (Public): <span th:text="${publicDescription}"></span><br>
			Item Description (Private): <span th:text="${privateDescription}"></span><br>
			Category: <span th:text="${category}"></span><br>
			Location Found: <span th:text="${locationFound}"></span><br>
			Date Found: <span th:text="${dateFound}"></span><br>
			Status: <span th:text="${status}"></span><br>
			</p>
			

			<!--Form-->
			<form th:action="@{~/item/deleteItem/} + ${itemID}" method="post">
				<h3 class="formLabels">Are you sure you want to delete this item?</h3>
				<button id="cancelBtn" class="inputValues" type="button" name="cancelBtn" value="Cancel" onclick="window.location.href='/';">Cancel</button>
				<input id="submit" class="inputValues" type="submit" name="submit" value="Submit">
			</form>
		</div>

	<!--Page footer-->
	<footer class = "footer">
		
		<img  id = "ricLogo" src = "/images/riclogo_footer_156px.png">
		
		<p class = "contact"> <a href = ""> Contact Us </a> &ensp; <a href = ""> FAQs </a> </p>
		
	</footer>
	</body>

</html>