<!DOCTYPE html>

<html>
	
	<!--Page head: Contains CSS and Title-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS-->
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	
	<title>Delete an Item</title>	
	</head>

	<!--Page body: Contains the form for an admin to delete an item-->
	<body id = "background">
		<!--Page top-->
		<a href = "/"><img id = "banner" src = "/images/banner2.png"></a>
		
		<p class = "welcome"> Welcome, Administrator <span class = "moveRight"> <a href = "/"> Home</a></span> </p>
		
		<div class = "autoAlign">
			<h1>Delete An Item</h1>
			<br>

			<!-- Item info -->
			<p>Item ID: <span th:text="${itemID}"></span><br>
			<!--image here-->
			Item Description (Public): <span th:text="${publicDescription}"></span><br>
			Item Description (Private): <span th:text="${privateDescription}"></span><br>
			Category: <span th:text="${category}"></span><br>
			Location Found: <span th:text="${locationFound}"></span><br>
			Date Found: <span th:text="${dateFound}"></span><br>
			Status: <span th:text="${status}"></span><br>
			</p>
			

			<!--Form-->
			<form th:action="@{~/item/deleteItem/} + ${itemID}" method="post">
				<h3>Are you sure you want to delete this item?</h3>
				<button id="cancelButton" class="inputValues" type="button" name="cancelButton" value="Cancel" onclick="window.location.href='/';">Cancel</button>
				<input id="submit" class="inputValues" type="submit" name="submit" value="Submit">
			</form>
		</div>

		<!--Page footer-->
		<footer class = "footer">
			<div class = "container2">
				<span class="contact"><br>
				<img  id = "ricLogo" src = "/images/riclogo.png" alt="RIC Logo" align="left">
				600 Mount Pleasant Avenue<br>
				Providence, RI 02908<br>
				<a href="tel:401-456-8148">(401) 456-8148</a><br>
				<a href="mailto:lostandfound@ric.edu">lostandfound@ric.edu</a>
				</span>
		
				<span class = "faq"> <a href = "/faq"> FAQ </a> </span>
			</div>
		</footer>
	</body>

</html>