<!DOCTYPE html>

<html>
	
	<!--Page head: Contains CSS and Title-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS-->
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	
	<title>Retrieve an Item</title>	
	</head>

	<!--Page body: Contains the form for an admin to add a retrieved item record-->
	<body id = "background">
		<!--Page top-->
		<img id = "banner" src = "/images/banner.png"  >
		
		<p class = "welcome"> Welcome, Administrator <span class = "moveRight"> <a href = "/"> Home</a></span> </p>
		
		<div class = "autoAlign">
			<h1>Edit an Item</h1>
			<br>

			<!-- Item info -->
			<p>Item ID: <span th:text="${itemID}"></span><br>
			Item Description (Public): <span th:text="${publicDescription}"></span><br>
			Item Description (Private): <span th:text="${privateDescription}"></span><br>
			</p>

			<form th:action="@{~/item/editItem/} + ${itemID}" method="post" enctype="multipart/form-data">
				<input type="hidden" name="status" value="lost">
				<label class="formLabels">Image</label> <input id="itemPic" class="inputValues" type="file" name="itemPic" accept="image/*">
				<br>
				<label class="formLabels">Public Description: </label> <br> <textarea th:text="${publicDescription}"  id="itemDescriptionPublic" class="inputValues" type="text" name="itemDescriptionPublic" rows="5" cols="50" required> </textarea>
				<br>
				<label class="formLabels">Private Description: </label> <br> <textarea th:text="${privateDescription}" id="itemDescriptionPrivate" class="inputValues" type="text" name="itemDescriptionPrivate" rows="5" cols="50"></textarea>
				<br>
				<label class="formLabels">Location Found: </label> <br> <textarea th:text = "${locationFound}" id="itemLocationFound" class="inputValues" type="text" name="itemLocationFound" rows="5" cols="50" maxlength="255" required></textarea>
				<br>
				<label class="formLabels">Category</label> <br>
					<label><input id="categoryCellPhone" class="inputValues" type="radio" name="category" value="cellphone" th:checked = "${category == 'Cellphone'}" required> Cell Phone</label>
					<label><input id="categoryHeadphones" class="inputValues" type="radio" name="category" value="headphones" th:checked = "${category == 'Headphones'}"> Headphones</label>
				 	<label><input id="categoryWallet" class="inputValues" type="radio" name="category" value="wallet" th:checked = "${category == 'Wallet'}"> Wallet</label>
					<label><input id="categoryKeys" class="inputValues" type="radio" name="category" value="keys" th:checked = "${category == 'Keys'}"> Keys</label><br>
					<label><input id="categoryBooks" class="inputValues" type="radio" name="category" value="books" th:checked = "${category == 'Books'}"> Books</label>
					<label><input id="categoryGlasses" class="inputValues" type="radio" name="category" value="glasses" th:checked = "${category == 'Glasses'}"> Glasses</label>
					<label><input id="categoryMiscellaneous" class="inputValues" type="radio" name="category" value="miscellaneous" th:checked = "${category == 'Miscellaneous'}"> Miscellaneous</label>
				<br>
				<label class="formLabels">Date Found</label> <input id="itemDateFound" class="inputValues" type="date" name="itemDateFound" value = "date" th:value = "${dateFound}" required>
				<br>
				<input id="submit" class="inputValues" type="submit" name="submit" value="Submit">
			</form>
		</div>

	<!--Page footer-->
	<footer class = "footer">
		
		<img  id = "ricLogo" src = "/images/riclogo_footer_156px.png">
		
		<p class = "contact"> <a href = ""> Contact Us </a> &ensp; <a href = ""> FAQs </a> </p>
		
	</footer>
	</body>

</html>