<!DOCTYPE html>

<html>

	<!--Page head. Contains scripts and CSS-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS for DataTables plugin, in addition to internal CSS-->
	<link rel = "stylesheet" type = "text/css" href ="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	<!--Importing loginScript.js-->
	<script type="text/javascript" src="/javascript/loginScript.js"></script>

		<title>
			Rhode Island College Lost and Found
		</title>
	</head>

	<!--Page body, contains images, menus, and table-->
	<body id ="background">
		<!--Page top-->
		<img id = "banner" src = "/images/banner.png">
		
		<p class = "welcome"> Welcome
		<span class = "moveRight"> 
		
		</span>
		</p>
		
		
		
			<div class = "autoAlign">
				<h1>Error!</h1>
				<p th:if="${error}" th:text="${error}" style="color:red">Error: Something went wrong!</p>
			</div>
		

		<!--Page footer-->
		<footer class = "footer">
			
			<img  id = "ricLogo" src = "/images/riclogo_footer_156px.png">
			
			<p class = "contact"> <a href = ""> Contact Us </a> &ensp; <a href = ""> FAQs </a> </p>
		
		</footer>
	</body>
</html>