<!DOCTYPE html>

<html>

	<!--Page head. Contains scripts and CSS-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS for DataTables plugin, in addition to internal CSS-->
	<link rel = "stylesheet" type = "text/css" href ="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	<!--Importing loginScript.js-->
	<script type="text/javascript" src="/javascript/loginScript.js"></script>

		<title>Error</title>
	</head>

	<!--Page body, contains images, menus, and table-->
	<body id ="background">
		<!--Page top-->
		<img id = "banner" src = "/images/banner2.png">
		
		<p class = "welcome"> Welcome
		<span class = "moveRight"><a href = "/"> Home</a></span>
		</p>
		
			<div class = "autoAlign">
				<h1>Error!</h1>
				<p th:if="${error}" th:text="${error}" style="color:red">Error: Something went wrong!</p>
			</div>
		
		<!--Page footer-->
		<footer class = "footer">
			<div class = "container2">
				<span class="contact"><br>
				<img  id = "ricLogo" src = "/images/riclogo.png" alt="RIC Logo" align="left">
				600 Mount Pleasant Avenue<br>
				Providence, RI 02908<br>
				<a href="tel:401-456-8148">(401) 456-8148</a><br>
				<a href="mailto:lostandfound@ric.edu">lostandfound@ric.edu</a>
				</span>
		
				<span class = "faq"> <a href = "/faq"> FAQ </a> </span>
			</div>
		</footer>
	</body>
</html>