<!DOCTYPE html>

<html>

	<!--Page head. Contains scripts and CSS-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS for DataTables plugin, in addition to internal CSS-->
	<link rel = "stylesheet" type = "text/css" href ="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	<!--Importing loginScript.js-->
	<script type="text/javascript" src="/javascript/loginScript.js"></script>
	<!--Importing jQuery library-->
	<script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<!--Importing DataTables plugin-->
	<script type = "text/javascript" src = "http://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
	<!--Implementing DataTables plugin into page-->
	<script type = "text/javascript">$(document).ready(function(){
		var table = $('#table').DataTable({
			//"processing": true,
			//"serverSide": true,
			"ajax": "/api/getAllItems",
			"columnDefs": [
			{"searchable": false, "targets": 1},
			{"orderable": false, "targets": 1},
			{"width": "100px", "targets":1}
			],
			"columns": [
				{ data: "itemID" },
				{ data: "image",
					"fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
						if ( oData.image != null ) {
							$(nTd).html(
								"<a target = '_blank' href ='/images/items/" + oData.image + " ' ><img class = 'itemImg' src ='/images/items/" + oData.image + " ' </a>"
							);
						} else {
							$(nTd).html("")
						} 
					}
				},
				{ data: "publicDescription" },
				{ data: "category" },
				{ data: "locationFound" },
				{ data: "dateFound" },
				{ data: "status" }
			]
		});
		
		//Categories filter function	
		$('a.categoryButton').on( 'click', function () {
			table
			.columns(3)
			.search(  $(this).text() )
			.draw();
		});
		
		$('a.all.categoryButton').on('click', function() {
		  table
		  .search('')
		  .columns(3)
		  .search('')
		  .draw();
		});
	});
	</script>

		<title>Rhode Island College Lost and Found</title>
	</head>

	<!--Page body, contains images, menus, and table-->
	<body id ="background">
		<!--Page top-->
		<a href = "/"><img id = "banner" src = "/images/banner2.png"></a>
		
		<p class = "welcome"> Welcome, [(${userFirstName})] 
		<span class = "moveRight"> 
			<!-- Trigger/Open The Modal -->
			<a href="#" id="loginButton">Administrator Login</a>

			<!-- The Modal -->
			<div id="loginModal" class="modal">
					
				<!-- Modal content -->
				<div class="modal-content">
					<span class="close">&times;</span>
					<p>
					<form action="/session/login" method="post">
							
						<div class="container">
							<label><b>Email</b></label>
							<input type="text" placeholder="Enter Email" name="email" required>
										
							<label><b>Password</b></label>
							<input type="password" placeholder="Enter Password" name="passwd" required>
										
							<label><input type="checkbox" name="remember" checked="checked"> Remember me</label>
							<button type="submit">Login</button>
						</div>
									
						<div class="container" style="background-color:#f7f7f7">
							<button type="button" class="cancelbtn">Cancel</button>
							<span class="psw"><a href="#">Forgot password?</a></span>
						</div>
								
					</form>
					</p>
				</div>
					
				<script type="text/javascript">login();</script>
				
			</div>
		
		</span>
		</p>
		
		
		
			<div class = "autoAlignCategories">
				<!--Search Bar-->
				<!--<form class = "paddingSearch">
					<input class = "search" type = "text" placeholder = "e.g. Biology Book" required>
					<input type = "button" value = "Search">
				</form><br>-->

				<!--Categories-->
				<a class="all categoryButton" href="#table">All</a>
				<a class = "categoryButton" href="#table">Cellphone</a>
				<a class = "categoryButton" href="#table">Books</a>
				<a class = "categoryButton" href="#table">Headphones</a>
				<a class = "categoryButton" href="#table">Miscellaneous</a>
				<a class = "categoryButton" href="#table">Wallet</a>
				<a class = "categoryButton" href="#table">Keys</a>
				<a class = "categoryButton" href="#table">Glasses</a>
				
			</div>
			
			<div class = "autoAlignTable">
				<!--Dynamic table-->
				<table id = "table">
					<thead class = "boldBorder">
					<tr>
						<th class = "tableHead paddingTH">No.</th>
						<th class = "tableHead paddingTH">Image</th> 
						<th class = "tableHead paddingTH">Description</th>
						<th class = "tableHead paddingTH">Category</th>
						<th class = "tableHead paddingTH">Location Found</th>
						<th class = "tableHead paddingTH">Date Found</th>
						<th class = "tableHead paddingTH">Status</th>
					</tr>
					</thead>
				</table>
			</div>
		

		<!--Page footer-->
		<footer class = "footer">
			<div class = "container2">
				<span class="contact"><br>
				<img  id = "ricLogo" src = "/images/riclogo.png" alt="RIC Logo" align="left">
				600 Mount Pleasant Avenue<br>
				Providence, RI 02908<br>
				<a href="tel:401-456-8148">(401) 456-8148</a><br>
				<a href="mailto:lostandfound@ric.edu">lostandfound@ric.edu</a>
				</span>
		
				<span class = "faq"> <a href = "/faq"> FAQ </a> </span>
			</div>
		</footer>
	</body>
</html>