<!DOCTYPE html>

<html>
	
	<!--Page head: Contains CSS and Title-->
	<head>
	<link rel="icon" type="image/png" href="/images/favicon.png">
	<!--Importing CSS-->
	<link rel="stylesheet" type="text/css" media="screen"  
      href="/css/LostNFoundStyle.css"/>
	
	<title>Administrator Login</title>	
	</head>

	<!--Page body: Contains the form for an admin to add a new item-->
	<body>
		<!--Page top-->
		<img id = "banner" src = "/images/banner.png"  >
		
		<p class = "welcome"> Welcome, Guest <span class = "moveRight"> <a href = "/"> Guest</a></span> </p>
		<div class = "autoAlign">
			<!--Title Header: Admin Login-->
			<h1>Administrator Login</h1>
			<br>
			<!--Errors-->
			<p th:if="${error}" th:text="${error}" style="color:red">Error: Invalid email or password.</p>
			<!--Form-->
			<form action="/session/login" method="post">
				Email <input class="inputValues" type="text" name="email" value="">
				<br>
				Password <input class="inputValues" type="password" name="passwd" value="">
				<br>
				<label><input type="checkbox" name="remember" checked="checked"> Remember me</label>
				<br>
				<br>
				<input class="inputValues" type="submit" value="Submit">
			</form>
		</div>

	<!--Page footer-->
	<footer class = "footer">
		
		<img  id = "ricLogo" src = "/images/riclogo_footer_156px.png">
		
		<p class = "contact"> <a href = ""> Contact Us </a> &ensp; <a href = ""> FAQs </a> </p>
		
	</footer>
	</body>

</html>